<form
	id="uploadForm"
	enctype="multipart/form-data"
	method="post"
	action="upload"
>
	<div class="form-group file-upload-input">
		<input type="file" name="myImage" id="image" accept="image/*" />
		<label for="image">
			Choose Image
			<!-- <button type="button">
			</button> -->
		</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn">Upload</button>
	</div>
</form>
<div id="imagePreview" class="image-preview"></div>
