<form
	id="uploadForm"
	enctype="multipart/form-data"
	method="post"
	action="upload"
>
	<div class="form-group">
		<input type="file" name="myImage" id="myImage" accept="image/*" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn">Upload</button>
	</div>
</form>
<div id="imagePreview" class="image-preview"></div>
