<!DOCTYPE html>
<html>
	<head>
		<title>Image Upload</title>
		<link href="/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
		</header>

		<main>
			<!-- Content from individual views will be rendered here -->
			<%- body %>
		</main>

		<footer>
			<p>&copy; 2023</p>
		</footer>
	</body>
</html>
